{% extends "hospital/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
<div class="container mt-5">
    {% if user.is_authenticated %}
        {% if is_doctor %}
            <h2>Welcome, Dr. {{ profile.user.first_name }} {{ profile.user.last_name }}!</h2>
            <p>Your specialization: {{ profile.specialization }}</p>
            <!-- Add more content specific to doctors -->
        {% else %}
            <h2>Welcome, Saranya devi!</h2>
            <!-- Add more content specific to patients -->
        {% endif %}
    {% else %}
        <h2>Welcome to the Hospital System!</h2>
        <p>Please log in to access personalized content.</p>
        <!-- Add more content for non-authenticated users -->
    {% endif %}
</div>
{%else%}
    <h1>Home</h1>
{%endif%}
{% endblock %}
